html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: grey;
}

#map {
  width:100%;
   height:100%;
   position: absolute !important;
   top: 0px;
   left: 0px;
}
